{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>

            <center><img src="/img/n^n60.gif" alt="my logo" width=50%><center>

           <!-- {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }} -->  

            <!-- <p>
              <a>NFT Gallery - </a><a href="https://opensea.io/collection/nikolai-in-nature" target="_blank">Nikolai in Nature</a>
            </p> -->

            <p></p>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

        </div>
    </main>
{{ end }}
